.colorful {
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	padding: 9px 15px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

.transparent {
	font-weight: 500;
	font-size: 18px;
	padding: 3px 7px;
	transition: all 0.3s;
	cursor: pointer;
	background-color: transparent;
	border-radius: 20% / 50%;
}

.green-dark {
	background-color: var(--green-dark);
	color: var(--light);
}

.trans-green-dark {
	border: 1.5px solid var(--green-dark);
	color: var(--green-dark);
}

.red {
	background-color: var(--red);
	color: var(--light);
}

.trans-red {
	border: 1.5px solid var(--red);
	color: var(--red);
}

.light {
	background-color: var(--light);
	color: var(--ghost);
}

.trans-light {
	border: 1.5px solid var(--light);
	color: var(--light);
}

.ghost {
	background-color: var(--ghost);
	color: var(--light);
}

.trans-ghost {
	border: 1.5px solid var(--ghost);
	color: var(--ghost);
}

.red:hover {
	background-color: var(--red-hover);
}

.ghost:hover {
	background-color: var(--ghost-hover);
}

.trans-red:hover,
.trans-ghost:hover,
.trans-light:hover {
	transform: scale(1.1);
}
