.colorful {
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	padding: 9px 15px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

.transparent {
	font-weight: 500;
	font-size: 18px;
	padding: 3px 7px;
	transition: all 0.3s;
	cursor: pointer;
}

.red {
	background-color: var(--red);
	color: var(--light);
}

.transred {
	border: 1.5px solid var(--red);
	color: var(--red);
	border-radius: 20% / 50%;
	background-color: transparent;
}

.light {
	background-color: var(--light);
	color: var(--ghost);
}

.translight {
	border: 1.5px solid var(--light);
	color: var(--light);
	border-radius: 20% / 50%;
	background-color: transparent;
}

.ghost {
	background-color: var(--ghost);
	color: var(--light);
}

.transghost {
	border: 1.5px solid var(--ghost);
	color: var(--ghost);
	border-radius: 20% / 50%;
	background-color: transparent;
}

.red:hover {
	background-color: var(--red-hover);
}

.ghost:hover {
	background-color: var(--ghost-hover);
}

.transred:hover,
.transghost:hover,
.translight:hover {
	transform: scale(1.1);
}
