.bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--backdrop);
}

.window {
	position: absolute;
	right: 20px;
	top: 80px;
	width: 250px;
	background-color: var(--light);
	border-radius: 3px;
	transition: all 0.3s;
	padding: 50px 20px;
}

.input {
	display: block;
	margin: 20px auto;
	transition: all 0.2s;
}

.input:hover {
	transform: scale(1.01);
}

.input:focus {
	transform: scale(1.01);
}

.close {
	position: absolute;
	right: 30px;
	top: 90px;
	width: 25px;
	height: 25px;
	background-color: var(--red);
	border-radius: 50%;
	transform: rotate(45deg);
	cursor: pointer;
	transition: all 0.3s;
}

.close:hover {
	transform: rotate(135deg) scale(1.1);
}

.close::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 2px;
	background-color: var(--light);
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.close::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 18px;
	background-color: var(--light);
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

@media (max-width: 470px) {
	.window {
		right: 12px;
		top: 50px;
	}

	.close {
		right: 22px;
		top: 60px;
	}
}
